// Colors
$page-background: #FBFCFD;
$bg-color: #FFFFFF;
$gray-color: rgba(92, 104, 116, 0.2);
$text-color: #4B5665;
$primary-text-color: #7d838a;
$primary-color: #387ED1;

// Sizes
$primary-width: 100%;
$primary-height: 100%;