.graph-section {
  position: relative;
  height: 45px;
  width: 220px;
}

.pointer {
  position: absolute;
  top: 17px;
  height: 15px;
  width: 100%;
}

.circle {
  position: absolute;
  width: 14px;
  height: 14px;
  cursor: pointer;
}